/* .cover__size {
  max-width: 1184px;
  position: relative;
  border: 1px solid red;

} */


/* .cover__size:before {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 40;
}

.cover__background:hover {
  opacity: 0.8;
  transition: 1.5s ease;
}  */