.introduce {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 690px;
  margin-left: 148px;
}

@media screen and (max-width:1024px) {
  .introduce {
    margin-left: 48px;
  }
}


@media screen and (max-width:768px) {
  .introduce {
    max-width: 720px;
    margin-left: 24px;
  }
}

@media screen and (max-width:320px) {
  .introduce {
    width: 288px;
    margin: 0 auto;
  }
}