.introduce__text {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #FFFFFF;
  margin-bottom: 33px;

}


@media screen and (max-width:700px) {
  .introduce__title {

    font-size: 38px;
    line-height: 1.05;
  }
}

@media screen and (max-width:320px) {

  .introduce__text {

    
    margin-bottom: 34px;

  }
}