.footer__links {
  margin: 0;
  padding: 0;
  margin-left: 48px;

 
}

.footer__links li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 92px;
  display: inline;
   padding-right: 18px;

}

@media screen and (max-width: 768px) {
  .footer__links {
margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    margin: 0;
    padding: 0;
    display: list-item;
    max-width: 158px;
    padding-left: 16px;
    padding-right: 0;

  }
}


