.lead__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 64px;
  max-width: 640px;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;

}

@media screen and (max-width:1024px)  {
  .lead__subtitle {

    margin-bottom: 56px;
  }
}

@media screen and (max-width:768px) {
  .lead__subtitle {

    margin-bottom: 56px;
  }
}

  @media screen and (max-width:700px) {
    .lead__subtitle {
  
      max-width: 400px;
      font-size: 23px;
      line-height: 2.17;
      margin-bottom: 45px;
    }
  }


@media screen and (max-width:320px) {
  .lead__subtitle {

    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
    margin-top: 0;
  }
}
