.cover {
  max-width: 1180px;
  margin-top: 92px;
  margin-left: 48px;
  margin-right: 48px;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 245px 312px;
  position: relative;


}

@media screen and (max-width:1024px) {
  .cover {
    padding: 195px 232px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width:768px) {
  .cover {
    padding: 115px 104px;
    margin-top: 90px;
  }
}

@media screen and (max-width:600px) {
  .cover {
    padding: 40px 26px 33px 26px;
    margin-top: 76px;
  }

}

@media screen and (max-width:320px) {
  .cover {
    padding: 33px 16px;
    margin-top: 66px;
  }

}