.place__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter','Arial', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
<<<<<<< HEAD
  color: #FFFFFF;
}
=======

  color: #FFFFFF;
>>>>>>> 408c58f8c8150b4e6e2d6a72ab4ec19aa37d61cb

.place__link:hover {
  cursor: pointer; 
  opacity: 0.8;
  transition: 1.5s ease;
}

<<<<<<< HEAD
.place__link a {
  color: #FFFFFF;
}
=======
}

.place__link:hover {
  cursor: pointer;
}
>>>>>>> 408c58f8c8150b4e6e2d6a72ab4ec19aa37d61cb
