.introduce__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Inter-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #FFFFFF;
  line-height: 1.5;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 92px;
}


@media screen and (max-width:768px) {

  .introduce__list {

  
    margin-bottom: 88px;

  }
}

@media screen and (max-width:320px) {

  .introduce__list {
    

  
    margin-bottom: 64px;

  }
}