.cover__title {

  margin: 0;
  padding: 0;
  left: 26%;
  top: 33%;
  max-width: 560px;
  font-family: 'Inter-Black';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 40;
  position: absolute;
}

@media screen and (max-width:1024px) {

  .cover__title {
    left: 22.6%;
    top: 30.4%;

  }
}


@media screen and (max-width:768px) {

  .cover__title {
    left: 13.5%;
    top: 24%;

  }
}

@media screen and (max-width:600px) {

  .cover__title {
    max-width: 480px;
    left: 5.5%;
    top: 18.5%;
    font-size: 65px;
    line-height: 55px;

  }
}

@media screen and (max-width:400px) {

  .cover__title {
    max-width: 360px;
    left: 5.5%;
    top: 18.5%;
    font-size: 38px;
    line-height: 40px;

  }
}

@media screen and (max-width:320px) {

  .cover__title {
    max-width: 288px;
    left: 5.5%;
    top: 16.5%;
    font-size: 38px;
    line-height: 35px;

  }
}