.place__web {
  grid-area: web;
  margin: 0;
  padding: 0;
  max-width: 456px;
  font-family: 'Inter','Arial', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  display: grid;
  align-self: end;
  padding-bottom: 48px;
}



@media screen and (max-width:600px) {
  .place__web {
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
}